.opponent-cell:hover {
  background-color: lightgray; /* change the background color when the mouse is hovering over the cell */
  outline: 3px solid black; /* add an outline to the cell */
}

.opponent-cell {
  background-color: grey;
}

.missed {
  background-color: rgb(253, 92, 92);
}

.hit {
  background-color: rgb(93, 93, 250);
}
