<div class="host-board-details">
  <button mat-button class="btnReady" (click)="btnReadyClicked()">Ready</button>
  <p>PlayerId: {{ playerId }}</p>
  <p>BoardId: {{ boardId }}</p>
</div>

<div class="host-board">
  <div class="host-row" *ngFor="let row of board; let i = index">
    <!-- <th>{{ i + 1 }}</th> -->
    <div class="host-cells" *ngFor="let cell of row; let j = index">
      <app-host-cell
        class="host-cell"
        [status]="board[i][j]"
        (shipDropped)="addShip($event, i, j)"
      ></app-host-cell>
    </div>
  </div>
</div>
