<div cdkDropListGroup>
  <div class="boards-container">
    <div class="host-board-container">
      <div class="host-board-details">
        <h2>Your Board</h2>
        <p>Name: {{ this.host.name }}</p>
        <p *ngIf="!gameStarted">Ready: {{ this.host.ready }}</p>
        <p>PlayerId: {{ this.host.id }}</p>
        <p>BoardId: {{ this.host.boardId }}</p>
      </div>
      <app-host-board [(board)]="this.host.board"></app-host-board>
    </div>

    <div class="opponent-board-container" *ngIf="gameStarted">
      <div class="opponent-board-details">
        <h2>Opponent Board</h2>
        <p>Name: {{ this.opponent.name }}</p>
        <p>PlayerId: {{ this.opponent.id }}</p>
        <p>BoardId: {{ this.opponent.boardId }}</p>
      </div>
      <app-opponent-board
        [board]="this.opponent.board"
        [boardId]="this.opponent.boardId"
      ></app-opponent-board>
    </div>
  </div>
  <div class="ship-selector-container" *ngIf="!this.host.ready">
    <div class="ships-container">
      <app-ship-selector></app-ship-selector>
    </div>
    <div class="button-ready-container">
      <button class="button-ready" (click)="btnReadyClicked()">Ready Up</button>
    </div>
  </div>
</div>
