.board-cell {
  width: 60px;
  height: 60px;
  border: 2px solid #00b8d4; /* use a shade of blue as the border color */
  background-color: white; /* set the default background color to white */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* add a subtle box-shadow to add depth */
  border-radius: 20px; /* add rounded corners to the game cells */
  transition: transform 0.2s ease-in-out; /* add a transition to animate the transformation of the cells */
  text-align: center;
  line-height: 30px;
}

.board-cell:hover {
  background-color: #00b8d4; /* change the background color when the mouse is hovering over the cell */
  outline: 3px solid black; /* add an outline to the cell */
}

.board-cell.hit {
  background-color: red; /* change the background color to red if the cell has been hit */
  background-size: cover; /* make the texture cover the entire cell */
}

.board-cell.miss {
  background-color: white; /* change the background color to white if the cell has been missed */
}

.board-cell.ship {
  background-color: #00b8d4; /* change the background color to blue if there is a ship in the cell */
  background-size: cover; /* make the texture cover the entire cell */
  transition: transform 0.2s ease-in-out; /* add a transition to animate the transformation of the cell */
}

.board-cell.ship:active {
  transform: scale(0.9); /* scale down the cell when it is clicked */
}
