table {
  table-layout: fixed;
  width: 600px;
  height: 600px;
  background-color: grey;
  text-align: center;
  font-size: 50px;
  border: 5px solid;
}

.centre {
  margin-left: auto;
  margin-right: auto;
}

thead {
  font-size: medium;
  
}

td:hover {
  background-color: red;
  cursor: crosshair;
}

th {
  background-color: black;
  color: white;
}

.gameRow {
  display: flex;
}