
<h3>This page is working!</h3>

<table id="gameboard" class="centre">
  <thead>
      <tr>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>D</th>
          <th>E</th>
          <th>F</th>
          <th>G</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let row of board">
          <td>{{row.A}}</td>
          <td>{{row.B}}</td>
          <td>{{row.C}}</td>
          <td>{{row.D}}</td>
          <td>{{row.E}}</td>
          <td>{{row.F}}</td>
          <td>{{row.G}}</td>
      </tr>
  </tbody>
</table>